body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
	padding-left: 300px;
	/*background-image: url("/static/img/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;*/
	overflow-x: hidden;
}

#side {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 2;
	top: 0;
	left: 0;
	margin-left: inherit;
	margin-top: inherit;
    background-color: #111;
    overflow-x: visible;
}

/*#main:before {
	content: '';
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #fff;
	opacity: 0.8;
	height: 100vh;
}*/

#main {
	position: relative;
	height: 100vh;
}

#avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 30px 75px 20px;
}

#intro {
	color: #ddd;
	text-align: center;
	font-style: oblique;
	font-weight: 500;
}

.menuitem, .menuitem:visited {
	position: relative;
	display: block;
	text-decoration: none;
	text-align: right;
	color: #ddd;
	background-color: #444;
	width: 260px;
	margin: 10px 0px;
	padding: 5px 20px;
	animation: menuhover 1000ms reverse;
	transition: all 0.2s linear;
}

.menuitem:after {
	content: '';
	position: absolute;
	top: 0;
	right: -20px;
	width: 100%;
	height: 100%;
	background-color: inherit;
	transform-origin: 100% 0;
	transform: skew(-30deg);
	z-index: -1;
}

.menuitem:hover {
	background-color: #ccc;
	color: #222;
	width: 283px;
}

#footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding:  20px;
	background-color: #f8f8f8;
	border-top: 2px solid #ddd;
}

#content {
	padding: 20px;
}
